input {
    background-color: var(--Very-light-grayish-cyan) !important;
    border: none;
    border-radius: 5px;
    color: var(--Very-dark-cyan);
    font-weight: 700;
    outline-color: var(--Strong-cyan);
    padding: 4px;
    text-align: right;
    height: auto;
    width: 100%;
}

#bill { background: url('../../images/icon-dollar.svg') no-repeat 10px 12px; background-size: 12px; }

#people { background: url('../../images/icon-person.svg') no-repeat 10px 14px; background-size: 12px; }

label {
    color: var(--Very-dark-grayish-cyan);
    font-size: 0.65rem;
    font-weight: 700;
}

.tips label { 
    grid-column: 1 / 4; 
    align-self: flex-end;
    justify-self: left; 
}